/*UI colors*/
hr.heading-cut{
    margin-top:15px;
    margin-bottom:0px;
    border-color:rgba(150,150,150,0.1);
}

.navbar-brand{
    color:#56A8FB !important; font-family: 'Leckerli One', cursive; font-weight:normal; padding-top:15px; font-size:1.5em;
}

#menu-toggle-right{
    background-color:white; line-height:50px;
}

#sidebar-wrapper-right {
    box-shadow: rgba(100,100,100,0.5) 3px 0px 8px -4px;
}

.window-heading{
    color:#50596e;
    background-color:white;
    /*
    border-bottom-style:solid;
    border-bottom-color:rgba(100,100,100,0.1);
    border-bottom-width:1px;*/
}

.table thead > tr > th {
    background-color: white;
}

.navbar.navbar-default{
    background-color:transparent; border-radius:0px; border:none;
    /*
        box-shadow:rgba(100,100,100,0.1) 0px 1px 1px 0px;
    */
    margin-bottom:10px;
    padding-top:6px;
}
.navbar-default .navbar-nav > li > a{
    color:#586371;
}

.shadow-wrapper{
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 5px -1px;
}

.window-footer{
    background-color:white;
    border-top-style:solid;
    border-top-width:1px;
    border-color:rgba(100,100,100,0.1);
}

body {
    padding-bottom: 20px;
    /*background-color:#c9e3f6;*/
    /*background-color:#FFD180;*/
    background-color:#F6F8FB;
    font-family: 'Nunito', sans-serif;
}

.form-control{
    box-shadow:rgba(0,0,0,0.1) 0px 0px 0px 1px inset;
    border-radius:2px;
    border:none;
}

.form-control:active,.form-control:focus{
    box-shadow:#56A8FB 0px 0px 0px 1px inset;
}

ul.pagination{
    /*box-shadow:rgba(0,0,0,0.1) 0px 1px 2px 0px;*/
}
/*end of UI colors*/

html{
    height:100% !important;
}

.row{
    margin-left:unset;
    margin-right:unset;
}

/*input group override*/
.input-group .form-control{
    border-bottom-left-radius:2px;
    border-top-left-radius:2px;
    border:none;
}
.input-group .input-group-addon{
    border-bottom-right-radius:2px;
    border-top-right-radius:2px;
    border:none;
}

/*pagination override*/
.pagination > li > a, .pagination > li > span{
    border:none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color:#00ACC1;
}
.pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    background-color:#f2f2f2;
    color:#d2d2d2;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-bottom-left-radius:2px;
    border-top-left-radius:2px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-bottom-right-radius:2px;
    border-top-right-radius:2px;
}

/*buttons override*/
.navbar-btn{
    padding-top:5px !important;
    padding-bottom:5px !important;
    color:white !important;
}

.btn{
    transition:0.5s;
    border-radius:2px;
    border:0;
    /*box-shadow:rgba(0,0,0,0.1) 0px 2px 4px 0px;*/
}
.btn-info{
    background-color:transparent;
    box-shadow:#00BCD4 0px 0px 0px 1px inset;
    color:#00ACC1;
}
.btn-info:hover{
    color:white;
    background-color:#00ACC1;
}
.btn-primary{
    background-color:#56A8FB;
}
.btn-danger{
    background-color:#EF5350;
}
.btn-warning{
    background-color:#FF9800;
}
.btn-primary:hover{
    background-color:#0277bd;
}

.btn-group .btn.btn-active{
    /*
        background-color:#03a9f4;
        color:white;
    */
    box-shadow:none;
}
.btn-group .btn{
    /*
        color:#d2d2d2;
    */
    background-color:#fafafa;
    /*box-shadow: rgba(0,0,0,0.3) 0px 0px 7px 2px inset;*/
}
.btn-group .btn:hover, .btn-group .btn.btn-active{
    background-color:#03a9f4;
    color:white;
}

.outside-link{
    font-size:1.1em; font-weight:600; color:#7b89a9; transition:0.4s;
}
.outside-link:hover,.outside.outside-link:active,.outside-link:focus{
    text-decoration:none;
    color:#50596e;
}

ul.dropdown-menu li a{
    text-align:center;
    line-height:30px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.1);
}
ul.dropdown-menu li a:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
ul.dropdown-menu li a:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
ul.dropdown-menu{
    border:0;
    border-radius:4px;
    left:unset !important;
    right:0;
    padding-top:0px;
    padding-bottom:0px;
    background-color:#465e7d;
    margin-top:7px;
    box-shadow:rgba(0,0,0,0.3) 0px 4px 5px 0px;
}

/*table override*/
.table-window{
    padding-top:0px;
    background-color:white;
    border-radius:0px;
    margin-bottom:0px;
    width:100%;
    overflow:hidden;
    color:#5D5C6E;
    /*border:1px solid rgba(0,0,0,0.1);*/
}
.table-window>.table-responsive>table.table>thead>tr>th:first-child{
    padding-left:20px;
}
.table-window>.table-responsive>table.table>tbody>tr>td:first-of-type{
    padding-left:20px;
}
.table-window>.table-responsive>table.table>tbody>tr>td:last-of-type{
    padding-right:20px;
}
.table-responsive>.table{
    margin-bottom:0px;
}
.table thead > tr > th{
    border-bottom:none;
    line-height:35px;
    /*border-bottom:2px solid rgba(0,0,0,0.1);*/
}
.table tbody > tr > td{
    line-height:30px;
    border-bottom:none;
    border-top:1px solid #f1f1f1;
}

.window{
    padding:5px;
    padding-top:9px;
    padding-bottom:9px;
    background-color:white;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    width:100%;
    overflow:hidden;
    /*border:1px solid rgba(0,0,0,0.1);*/
}

.window-footer{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    line-height:30px;
    overflow:hidden;
    margin-bottom:0px;
}

.window-footer-btn{
    line-height:55px;
}

.links{
    padding-top:2px;
}

.window-heading{
    padding-left:5px;
    padding-right:5px;
    padding-top:15px;
    padding-bottom:15px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    width:100%;
    line-height:32px;
    min-height:65px;
    /*border:1px solid rgba(0,0,0,0.1);*/
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

/*sidebar css*/
#no-hover:hover{
    color: #828FA8;
    background: #FEFEFE;
    text-decoration: none;
    border-right: none;
}

#wrapper-right {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
}

#sidebar-wrapper-right {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: white;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    border-right: none;
    /*box-shadow: rgba(0,0,0,0.2) 3px 0px 8px -2px;*/
}

.sidebar-nav-right {
    display: block;
    float: right;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper-right {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
}

#wrapper-right.active {
    padding-left: 150px;
}

#wrapper-right.active #sidebar-wrapper-right {
    left: 150px;
}

#page-content-wrapper-right {
    width: 100%;
}

#sidebar_menu-right li a, .sidebar-nav-right li a {
    color: #000000;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #FEFEFE;
    /*border-top: 1px solid #d8ebf7;
    border-bottom: 1px solid #deeff8;*/
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #000000;
    opacity: .7;
}

.sidebar-nav-right li {
    line-height: 50px;
    text-indent: 20px;
}

.sidebar-nav-right li a {
    color: #98A0B1;
    display: block;
    text-decoration: none;
    font-size:0.9em;
}

.sidebar-nav-right li a:hover {
    color: #828FA8;
    background: #E1EDFE;
    text-decoration: none;
    border-right: solid 2px #4188FD;
}

.sidebar-nav-right li a:active,.sidebar-nav-right li a:focus {
    text-decoration: none;
}

.sidebar-nav-right > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav-right > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav-right > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#main_icon {
    float: right;
    /*padding-left: 20px;*/
    padding-top: 10px;
    padding-right: 30px;
}

.sub_icon {
    float: right;
    /*padding-left: 20px;*/
    padding-top: 13px;
    padding-right: 30px;
    font-size:1.2em;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-right: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper-right {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper-right {
        left: 70px;
    }

    #wrapper-right.active {
        padding-left: 150px;
    }

        #wrapper-right.active #sidebar-wrapper-right {
            left: 150px;
            width: 150px;
            transition: all .4s ease 0s;
        }
}

/*view members ui*/
.members-view .col-md-4:nth-child(3n){
    padding-right:0px;
}
.members-view .col-md-4:first-child{
    padding-left:0px;
}
.members-view .col-md-4:nth-child(3n+1){
    padding-left:0px;
}

/*household stats*/
.household-stats-view .stats-div-link:first-child .col-md-3{
    padding-left:0px;
}
.household-stats-view .stats-div-link:nth-child(4) .col-md-3{
    padding-right:0px;
}
.household-stats-view>.col-md-3>.shadow-wrapper>.window{
    padding-left:10px;
    line-height:50px;
    padding-top:0px;
    padding-bottom:0px;
}
.stats-icon-text{
    color:#5D5C6E; font-size:0.85em; padding-left:8px;
}
.stats-div-link{
    text-decoration:none;
}
.stats-div-link:hover .col-md-3 .shadow-wrapper .window{
    transition:0.4s;
    box-shadow:rgba(120,200,255,0.7) 0px 0px 0px 1px inset;
}
.stats-div-link:hover .col-md-3 .shadow-wrapper{
    box-shadow:none;
}
.stats-div-link .col-md-3 .shadow-wrapper .window{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    padding-left:8px;
}


/*clients cards*/
.btn-warning-g:hover i, .btn-danger2-g:hover i, .btn-danger-g:hover i, .btn-info-g:hover i{
    color:white;
}

.btn-warning-g i{
    color:#FF9800;
}
.btn-danger2-g i{
    color:#EF5350;
}
.btn-danger-g i{
    color:#37474F;
}
.btn-info-g i{
    color:#56A8FB;
}

/*common ui*/
.right-ui{
    text-align:right; padding-right:0px;
}
.right-ui .btn{
    width:100%;
}
.left-ui{
    line-height:33px;
    padding-left:0px;
}

.right-window{
    padding-right:0px;
}
.left-window{
    padding:0px;
}

.container{
    padding-left:5px;
    padding-right:5px;
}

.pagination > li > a, .pagination > li > span{
    padding: 4px 8px;
}

@media(max-width:767px){
    .right-window{
        padding:2px;
    }
    .left-window{
        padding:2px;
    }

    .right-ui{
        padding-left:0px;
    }

    .members-view .col-md-4:nth-child(3n){
        padding:2px;
    }
    .members-view .col-md-4:first-child{
        padding:2px;
    }
    .members-view .col-md-4:nth-child(3n+1){
        padding:2px;
    }
    .members-view .col-md-4:nth-child(3n-1){
        padding:2px;
    }

    .household-stats-view .col-md-3{
        padding:2px;
    }

    .window-heading .btn{
        width:100%;
        margin-bottom:10px;
    }
}

/*sms modal*/
.modal{
    z-index:10001;
}

.modal-header{
    padding:10px;
}

.modal-footer{
    margin-top:0px;
    padding:11px;
}

.modal-content{
    border-radius:2px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 4px -1px;
}